:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

html, body {
  max-width: 100vw;
  /* overflow-x: hidden; */
}

body {
  margin: 0;
}

footer {
  text-align: center;
  background-color: #e5f9e0;
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

.MuiButton-variantSolid:hover{
  background-color: (--joy-palette-primary-600, #43a047)
}

:root {
  color-scheme: light dark;
}

.generic-center {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.center-nav {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-left: auto;
}

.flex-other {
  margin-left: auto;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.navbar{
  z-index: 2;
  position: sticky;
  top: 0px;
  height: 80px;
  /* width: 100vw; */
  /* background-image: linear-gradient(to right, #e5f9e0, #a3f7b5, #40c9a2, #2f9c95, #227873); */
  /* background-image: linear-gradient(to right, #e5f9e0, #333); */
  /* background-color: #165d16; */
  background-color: var(--joy-palette-primary-900, #33691e);
  display: flex;
  justify-content: center;
}

.bullet {
  color: #e5f9e0;
  margin: 1rem;
}

.nav-item {
  padding: 1rem;
  border-radius: 20px;
  /* background-color: #165d16; */
  background-color: (--joy-palette-primary-900, #33691e);
  color: white;
  font-weight: 400;
  font-size: unset;
  transition-duration: 0.5s;
  text-shadow: none;
}

.nav-item:hover{
  /* background-color: #134e13; */
  background-color: (--joy-palette-primary-800, #2e7d32);
  transition-duration: 0.3s;
}

.active {
  font-size: 15pt;
  font-weight: 700;
  transition-duration: 0.5s;
  color: #fff;
  text-shadow: 
    /* black 1px 0px 1px, */
    #134e13 1px 0 10px;
}

.chip-container{
  margin: 0.5rem;
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* @media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }

  .navbar, .nav-item{
    background-color: #134e13;
  }

  .active{
    text-shadow: #134e13 1px 0 10px;
  }
} */

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  } */

/* .navbar.dark, .nav-item.dark{
  background-color: #155515;
}

.active.dark{
  text-shadow: #81c784 1px 0 10px;
} */
/* } */

@media (color-scheme: dark) {
  /* html {
    color-scheme: dark;
  } */

  .navbar, .nav-item {
    background-color: (--joy-palette-primary-600, #7cb342);
  }
}